﻿@page
@model eShop.Presentation.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
    <br />Kunden<br />
    <table>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerNumber)
                </td>
            </tr>
        }
    </table>
<br />
Produkte
<br />
    <table>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
        </tr>
        }
    </table>
    <br />Warenkorb Kunde 2<br />
    <table>
        @foreach (var item in Model.Positions)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
        </tr>
        }
    </table>